#home-background{
  background-image: url(https://cdn.mos.cms.futurecdn.net/35af26903d70fb40e85933743adfb24d.jpg);
  background-color: lightblue;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}