#main-links {
  margin-top: 5px;
}

#main-links > a{
  margin: 10px;
  color: rgb(233, 114, 134);
}

*{
  text-decoration: none;
  font-weight: bolder;
  color: rgb(126, 50, 88);
}

a{
  cursor: pointer;
  color: black;
}


#home-background{
  background-image: url(https://thumbs.dreamstime.com/b/popcorn-movie-clip-pink-background-top-view-copy-space-fresh-popcorn-movie-clip-pink-background-top-view-copy-space-113592468.jpg);
  background-size:     cover;                 
  background-repeat:   no-repeat;
  background-position: center ;
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
} 
