#root{
    width: 100%;
    height: 100%;
}

.App{
    width: 100%;
    height: 100%;
}

.usersContainer {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    flex: auto;
}

.homeContainer{
    text-align: center;
    height: 80%;
}

