
.userCard {
    width: 200px;
    height: 200px;
    margin: var(--cardMargin);
    border: 1px solid #ccc;
    border-radius: 8px;
    background: transparent;
    box-sizing: border-box;
}

.userCard :hover{
    transform: scale(1.1);
}

.userContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: transparent;
    flex-direction: column;
}

.userCard img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.userContainer h1{
    margin-top: 0;
}